@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0c9555;
}
.container{
    margin-top: 25px;
    text-align: center;
    color: white;
} 

h1,h2,h3{
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-size: 2.6em;
    text-transform: capitalize;
    color: white;
    margin-bottom: 10px;
}
#min, #sec, #tens{
    font-size: 2em;
    margin-right: 8px;
}
.btn{
    width: 100px;
    height: 40px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}
.timeP{
    margin-bottom: 10px;
}
.btn:hover{
    background: white;
    color: #0c9555;
    font-weight: 100;
    text-transform: capitalize;
}
p{position: relative;}
#divider{
    position: absolute;
    font-size: 1.8em;
    transform: translateX(-10px);
}

.updown-anima{
    animation-name: infiniteupdown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: 1s ease;
    max-width: 100%;
}
/* Animation */
@keyframes infiniteupdown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Responsive */
@media only screen and (max-width: 360px){
    h1,h2,h3{
        font-size: 1.9em;
        font-weight: 400;
    }
    .all-button{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 320px){
    h1,h2,h3{
        font-size: 1.7em;
        font-weight: 400;
    }
    .btn {
        width: 75px;
        height: 35px;
        font-size: 0.85em;
        font-weight: 500;
    }
    #btn-reset{
        display: block;
        margin: 20px auto;
    }
    #btn-start{
        margin-right: 5px;
    }
    #btn-stop{
        margin-left: 5px;
    }
}